:root {
  --global-font-size-scaled-base: 1.6rem;
  --global-dimension-0: calc(var(--global-font-size-scaled-base, 1rem) * 0);
  --global-dimension-6: calc(var(--global-font-size-scaled-base, 1rem) * 0.0625);
  --global-dimension-12: calc(var(--global-font-size-scaled-base, 1rem) * 0.125);
  --global-dimension-25: calc(var(--global-font-size-scaled-base, 1rem) * 0.25);
  --global-dimension-37: calc(var(--global-font-size-scaled-base, 1rem) * 0.375);
  --global-dimension-50: calc(var(--global-font-size-scaled-base, 1rem) * 0.5);
  --global-dimension-62: calc(var(--global-font-size-scaled-base, 1rem) * 0.625);
  --global-dimension-75: calc(var(--global-font-size-scaled-base, 1rem) * 0.75);
  --global-dimension-87: calc(var(--global-font-size-scaled-base, 1rem) * 0.875);
  --global-dimension-100: calc(var(--global-font-size-scaled-base, 1rem) * 1);
  --global-dimension-112: calc(var(--global-font-size-scaled-base, 1rem) * 1.125);
  --global-dimension-125: calc(var(--global-font-size-scaled-base, 1rem) * 1.25);
  --global-dimension-137: calc(var(--global-font-size-scaled-base, 1rem) * 1.375);
  --global-dimension-150: calc(var(--global-font-size-scaled-base, 1rem) * 1.5);
  --global-dimension-160: calc(var(--global-font-size-scaled-base, 1rem) * 1.6);
  --global-dimension-162: calc(var(--global-font-size-scaled-base, 1rem) * 1.625);
  --global-dimension-175: calc(var(--global-font-size-scaled-base, 1rem) * 1.75);
  --global-dimension-200: calc(var(--global-font-size-scaled-base, 1rem) * 2);
  --global-dimension-225: calc(var(--global-font-size-scaled-base, 1rem) * 2.25);
  --global-dimension-250: calc(var(--global-font-size-scaled-base, 1rem) * 2.5);
  --global-dimension-300: calc(var(--global-font-size-scaled-base, 1rem) * 3);
  --global-dimension-350: calc(var(--global-font-size-scaled-base, 1rem) * 3.5);
  --global-dimension-400: calc(var(--global-font-size-scaled-base, 1rem) * 4);
  --global-dimension-450: calc(var(--global-font-size-scaled-base, 1rem) * 4.5);
  --global-dimension-500: calc(var(--global-font-size-scaled-base, 1rem) * 5);
  --global-dimension-600: calc(var(--global-font-size-scaled-base, 1rem) * 6);
  --global-dimension-700: calc(var(--global-font-size-scaled-base, 1rem) * 7);
  --global-dimension-800: calc(var(--global-font-size-scaled-base, 1rem) * 8);
  --global-dimension-900: calc(var(--global-font-size-scaled-base, 1rem) * 9);
  --global-dimension-1000: calc(var(--global-font-size-scaled-base, 1rem) * 10);
  --global-dimension-1100: calc(var(--global-font-size-scaled-base, 1rem) * 11);
  --global-dimension-1200: calc(var(--global-font-size-scaled-base, 1rem) * 12);
  --global-dimension-1300: calc(var(--global-font-size-scaled-base, 1rem) * 13);
  --global-dimension-1400: calc(var(--global-font-size-scaled-base, 1rem) * 14);
  --global-dimension-1500: calc(var(--global-font-size-scaled-base, 1rem) * 15);
  --global-dimension-1600: calc(var(--global-font-size-scaled-base, 1rem) * 16);
  --global-dimension-2000: calc(var(--global-font-size-scaled-base, 1rem) * 20);
  --global-dimension-2400: calc(var(--global-font-size-scaled-base, 1rem) * 24);
  --global-dimension-base: calc(var(--global-font-size-scaled-base, 1rem) * 0.01);
  --global-drop-shadow-l-x: calc(var(--global-font-size-scaled-base, 1rem) * 0);
  --global-drop-shadow-l-y: calc(var(--global-font-size-scaled-base, 1rem) * 0.75);
  --global-drop-shadow-l-blur: calc(var(--global-font-size-scaled-base, 1rem) * 3);
  --global-drop-shadow-m-x: calc(var(--global-font-size-scaled-base, 1rem) * 0);
  --global-drop-shadow-m-y: calc(var(--global-font-size-scaled-base, 1rem) * 0.25);
  --global-drop-shadow-m-blur: calc(var(--global-font-size-scaled-base, 1rem) * 0.375);
  --global-drop-shadow-s-x: calc(var(--global-font-size-scaled-base, 1rem) * 0);
  --global-drop-shadow-s-y: calc(var(--global-font-size-scaled-base, 1rem) * 0.125);
  --global-drop-shadow-s-blur: calc(var(--global-font-size-scaled-base, 1rem) * 0.25);
  --global-drop-shadow-xl-x: calc(var(--global-font-size-scaled-base, 1rem) * 0);
  --global-drop-shadow-xl-y: calc(var(--global-font-size-scaled-base, 1rem) * 1.25);
  --global-drop-shadow-xl-blur: calc(var(--global-font-size-scaled-base, 1rem) * 4);
  --global-drop-shadow-xs-x: calc(var(--global-font-size-scaled-base, 1rem) * 0);
  --global-drop-shadow-xs-y: calc(var(--global-font-size-scaled-base, 1rem) * 0.0625);
  --global-drop-shadow-xs-blur: calc(var(--global-font-size-scaled-base, 1rem) * 0.125);
  --global-paragraph-spacing-l: calc(var(--global-font-size-scaled-base, 1rem) * 0.75);
  --global-paragraph-spacing-m: calc(var(--global-font-size-scaled-base, 1rem) * 0.5);
  --global-paragraph-spacing-none: calc(var(--global-font-size-scaled-base, 1rem) * 0);
  --global-paragraph-spacing-s: calc(var(--global-font-size-scaled-base, 1rem) * 0.25);
  --base-box-shadow-focus-border-spread: calc(var(--global-font-size-scaled-base, 1rem) * 0.125);
  --base-box-shadow-overflow-x: calc(var(--global-font-size-scaled-base, 1rem) * 0);
  --base-box-shadow-overflow-y: calc(var(--global-font-size-scaled-base, 1rem) * 0.25);
  --base-box-shadow-overflow-blur: calc(var(--global-font-size-scaled-base, 1rem) * 0.375);
  --base-box-shadow-overlay-x: calc(var(--global-font-size-scaled-base, 1rem) * 0);
  --base-box-shadow-overlay-y: calc(var(--global-font-size-scaled-base, 1rem) * 0.75);
  --base-box-shadow-overlay-blur: calc(var(--global-font-size-scaled-base, 1rem) * 3);
  --base-box-shadow-raised-x: calc(var(--global-font-size-scaled-base, 1rem) * 0);
  --base-box-shadow-raised-y: calc(var(--global-font-size-scaled-base, 1rem) * 0.125);
  --base-box-shadow-raised-blur: calc(var(--global-font-size-scaled-base, 1rem) * 0.375);
  --base-box-shadow-raised-spread: calc(var(--global-font-size-scaled-base, 1rem) * 0);
  --base-paragraph-spacing-body: calc(var(--global-font-size-scaled-base, 1rem) * 0.5);
  --base-paragraph-spacing-interface: calc(var(--global-font-size-scaled-base, 1rem) * 0.25);
  --base-paragraph-spacing-title: calc(var(--global-font-size-scaled-base, 1rem) * 0);
  --base-size-icon-l: calc(var(--global-font-size-scaled-base, 1rem) * 4);
  --base-size-icon-m: calc(var(--global-font-size-scaled-base, 1rem) * 2.5);
  --base-size-icon-s: calc(var(--global-font-size-scaled-base, 1rem) * 1.25);
  --base-size-icon-xl: calc(var(--global-font-size-scaled-base, 1rem) * 5);
  --base-space-container-inline-2xl: calc(var(--global-font-size-scaled-base, 1rem) * 1.125);
  --base-space-container-inline-2xs: calc(var(--global-font-size-scaled-base, 1rem) * 0.375);
  --base-space-container-inline-3xl: calc(var(--global-font-size-scaled-base, 1rem) * 1.25);
  --base-space-container-inline-3xs: calc(var(--global-font-size-scaled-base, 1rem) * 0.25);
  --base-space-container-inline-4xl: calc(var(--global-font-size-scaled-base, 1rem) * 1.375);
  --base-space-container-inline-4xs: calc(var(--global-font-size-scaled-base, 1rem) * 0.125);
  --base-space-container-inline-5xl: calc(var(--global-font-size-scaled-base, 1rem) * 1.5);
  --base-space-container-inline-l: calc(var(--global-font-size-scaled-base, 1rem) * 0.875);
  --base-space-container-inline-m: calc(var(--global-font-size-scaled-base, 1rem) * 0.75);
  --base-space-container-inline-none: calc(var(--global-font-size-scaled-base, 1rem) * 0);
  --base-space-container-inline-s: calc(var(--global-font-size-scaled-base, 1rem) * 0.625);
  --base-space-container-inline-xl: calc(var(--global-font-size-scaled-base, 1rem) * 1);
  --base-space-container-inline-xs: calc(var(--global-font-size-scaled-base, 1rem) * 0.5);
  --base-space-container-inset-horizontal-2xl: calc(var(--global-font-size-scaled-base, 1rem) * 1.125);
  --base-space-container-inset-horizontal-2xs: calc(var(--global-font-size-scaled-base, 1rem) * 0.375);
  --base-space-container-inset-horizontal-3xl: calc(var(--global-font-size-scaled-base, 1rem) * 1.25);
  --base-space-container-inset-horizontal-3xs: calc(var(--global-font-size-scaled-base, 1rem) * 0.25);
  --base-space-container-inset-horizontal-4xl: calc(var(--global-font-size-scaled-base, 1rem) * 1.375);
  --base-space-container-inset-horizontal-4xs: calc(var(--global-font-size-scaled-base, 1rem) * 0.125);
  --base-space-container-inset-horizontal-5xl: calc(var(--global-font-size-scaled-base, 1rem) * 1.5);
  --base-space-container-inset-horizontal-6xl: calc(var(--global-font-size-scaled-base, 1rem) * 1.75);
  --base-space-container-inset-horizontal-7xl: calc(var(--global-font-size-scaled-base, 1rem) * 2.25);
  --base-space-container-inset-horizontal-8xl: calc(var(--global-font-size-scaled-base, 1rem) * 2.5);
  --base-space-container-inset-horizontal-9xl: calc(var(--global-font-size-scaled-base, 1rem) * 3);
  --base-space-container-inset-horizontal-10xl: calc(var(--global-font-size-scaled-base, 1rem) * 3.5);
  --base-space-container-inset-horizontal-l: calc(var(--global-font-size-scaled-base, 1rem) * 0.875);
  --base-space-container-inset-horizontal-m: calc(var(--global-font-size-scaled-base, 1rem) * 0.75);
  --base-space-container-inset-horizontal-none: calc(var(--global-font-size-scaled-base, 1rem) * 0);
  --base-space-container-inset-horizontal-s: calc(var(--global-font-size-scaled-base, 1rem) * 0.625);
  --base-space-container-inset-horizontal-xl: calc(var(--global-font-size-scaled-base, 1rem) * 1);
  --base-space-container-inset-horizontal-xs: calc(var(--global-font-size-scaled-base, 1rem) * 0.5);
  --base-space-container-inset-vertical-2xl: calc(var(--global-font-size-scaled-base, 1rem) * 1.125);
  --base-space-container-inset-vertical-2xs: calc(var(--global-font-size-scaled-base, 1rem) * 0.375);
  --base-space-container-inset-vertical-3xl: calc(var(--global-font-size-scaled-base, 1rem) * 1.25);
  --base-space-container-inset-vertical-3xs: calc(var(--global-font-size-scaled-base, 1rem) * 0.25);
  --base-space-container-inset-vertical-4xl: calc(var(--global-font-size-scaled-base, 1rem) * 1.375);
  --base-space-container-inset-vertical-4xs: calc(var(--global-font-size-scaled-base, 1rem) * 0.125);
  --base-space-container-inset-vertical-5xl: calc(var(--global-font-size-scaled-base, 1rem) * 1.5);
  --base-space-container-inset-vertical-6xl: calc(var(--global-font-size-scaled-base, 1rem) * 1.75);
  --base-space-container-inset-vertical-7xl: calc(var(--global-font-size-scaled-base, 1rem) * 2.25);
  --base-space-container-inset-vertical-8xl: calc(var(--global-font-size-scaled-base, 1rem) * 2.5);
  --base-space-container-inset-vertical-9xl: calc(var(--global-font-size-scaled-base, 1rem) * 3);
  --base-space-container-inset-vertical-10xl: calc(var(--global-font-size-scaled-base, 1rem) * 3.5);
  --base-space-container-inset-vertical-l: calc(var(--global-font-size-scaled-base, 1rem) * 0.875);
  --base-space-container-inset-vertical-m: calc(var(--global-font-size-scaled-base, 1rem) * 0.75);
  --base-space-container-inset-vertical-none: calc(var(--global-font-size-scaled-base, 1rem) * 0);
  --base-space-container-inset-vertical-s: calc(var(--global-font-size-scaled-base, 1rem) * 0.625);
  --base-space-container-inset-vertical-xl: calc(var(--global-font-size-scaled-base, 1rem) * 1);
  --base-space-container-inset-vertical-xs: calc(var(--global-font-size-scaled-base, 1rem) * 0.5);
  --base-space-container-stack-2xl: calc(var(--global-font-size-scaled-base, 1rem) * 1.125);
  --base-space-container-stack-2xs: calc(var(--global-font-size-scaled-base, 1rem) * 0.375);
  --base-space-container-stack-3xl: calc(var(--global-font-size-scaled-base, 1rem) * 1.25);
  --base-space-container-stack-3xs: calc(var(--global-font-size-scaled-base, 1rem) * 0.25);
  --base-space-container-stack-4xl: calc(var(--global-font-size-scaled-base, 1rem) * 1.375);
  --base-space-container-stack-4xs: calc(var(--global-font-size-scaled-base, 1rem) * 0.125);
  --base-space-container-stack-5xl: calc(var(--global-font-size-scaled-base, 1rem) * 1.5);
  --base-space-container-stack-l: calc(var(--global-font-size-scaled-base, 1rem) * 0.875);
  --base-space-container-stack-m: calc(var(--global-font-size-scaled-base, 1rem) * 0.75);
  --base-space-container-stack-none: calc(var(--global-font-size-scaled-base, 1rem) * 0);
  --base-space-container-stack-s: calc(var(--global-font-size-scaled-base, 1rem) * 0.625);
  --base-space-container-stack-xl: calc(var(--global-font-size-scaled-base, 1rem) * 1);
  --base-space-container-stack-xs: calc(var(--global-font-size-scaled-base, 1rem) * 0.5);
  --base-space-page-inline-2xl: calc(var(--global-font-size-scaled-base, 1rem) * 16);
  --base-space-page-inline-2xs: calc(var(--global-font-size-scaled-base, 1rem) * 0.25);
  --base-space-page-inline-l: calc(var(--global-font-size-scaled-base, 1rem) * 4);
  --base-space-page-inline-m: calc(var(--global-font-size-scaled-base, 1rem) * 2);
  --base-space-page-inline-s: calc(var(--global-font-size-scaled-base, 1rem) * 1);
  --base-space-page-inline-xl: calc(var(--global-font-size-scaled-base, 1rem) * 8);
  --base-space-page-inline-xs: calc(var(--global-font-size-scaled-base, 1rem) * 0.5);
  --base-space-page-inset-l: calc(var(--global-font-size-scaled-base, 1rem) * 2);
  --base-space-page-inset-m: calc(var(--global-font-size-scaled-base, 1rem) * 1.5);
  --base-space-page-inset-s: calc(var(--global-font-size-scaled-base, 1rem) * 1);
  --base-space-page-inset-xl: calc(var(--global-font-size-scaled-base, 1rem) * 3);
  --base-space-page-stack-2xl: calc(var(--global-font-size-scaled-base, 1rem) * 1.125);
  --base-space-page-stack-2xs: calc(var(--global-font-size-scaled-base, 1rem) * 0.375);
  --base-space-page-stack-3xl: calc(var(--global-font-size-scaled-base, 1rem) * 1.25);
  --base-space-page-stack-3xs: calc(var(--global-font-size-scaled-base, 1rem) * 0.25);
  --base-space-page-stack-4xl: calc(var(--global-font-size-scaled-base, 1rem) * 1.375);
  --base-space-page-stack-4xs: calc(var(--global-font-size-scaled-base, 1rem) * 0.125);
  --base-space-page-stack-5xl: calc(var(--global-font-size-scaled-base, 1rem) * 1.5);
  --base-space-page-stack-l: calc(var(--global-font-size-scaled-base, 1rem) * 0.875);
  --base-space-page-stack-m: calc(var(--global-font-size-scaled-base, 1rem) * 0.75);
  --base-space-page-stack-none: calc(var(--global-font-size-scaled-base, 1rem) * 0);
  --base-space-page-stack-s: calc(var(--global-font-size-scaled-base, 1rem) * 0.625);
  --base-space-page-stack-xl: calc(var(--global-font-size-scaled-base, 1rem) * 1);
  --base-space-page-stack-xs: calc(var(--global-font-size-scaled-base, 1rem) * 0.5);
  --base-space-selectable-inline-2xl: calc(var(--global-font-size-scaled-base, 1rem) * 1.125);
  --base-space-selectable-inline-2xs: calc(var(--global-font-size-scaled-base, 1rem) * 0.375);
  --base-space-selectable-inline-3xl: calc(var(--global-font-size-scaled-base, 1rem) * 1.25);
  --base-space-selectable-inline-3xs: calc(var(--global-font-size-scaled-base, 1rem) * 0.25);
  --base-space-selectable-inline-4xl: calc(var(--global-font-size-scaled-base, 1rem) * 1.375);
  --base-space-selectable-inline-4xs: calc(var(--global-font-size-scaled-base, 1rem) * 0.125);
  --base-space-selectable-inline-5xl: calc(var(--global-font-size-scaled-base, 1rem) * 1.5);
  --base-space-selectable-inline-l: calc(var(--global-font-size-scaled-base, 1rem) * 0.875);
  --base-space-selectable-inline-m: calc(var(--global-font-size-scaled-base, 1rem) * 0.75);
  --base-space-selectable-inline-none: calc(var(--global-font-size-scaled-base, 1rem) * 0);
  --base-space-selectable-inline-s: calc(var(--global-font-size-scaled-base, 1rem) * 0.625);
  --base-space-selectable-inline-xl: calc(var(--global-font-size-scaled-base, 1rem) * 1);
  --base-space-selectable-inline-xs: calc(var(--global-font-size-scaled-base, 1rem) * 0.5);
  --base-space-selectable-inset-horizontal-2xl: calc(var(--global-font-size-scaled-base, 1rem) * 1.125);
  --base-space-selectable-inset-horizontal-2xs: calc(var(--global-font-size-scaled-base, 1rem) * 0.375);
  --base-space-selectable-inset-horizontal-3xl: calc(var(--global-font-size-scaled-base, 1rem) * 1.25);
  --base-space-selectable-inset-horizontal-3xs: calc(var(--global-font-size-scaled-base, 1rem) * 0.25);
  --base-space-selectable-inset-horizontal-4xl: calc(var(--global-font-size-scaled-base, 1rem) * 1.375);
  --base-space-selectable-inset-horizontal-4xs: calc(var(--global-font-size-scaled-base, 1rem) * 0.125);
  --base-space-selectable-inset-horizontal-5xl: calc(var(--global-font-size-scaled-base, 1rem) * 1.5);
  --base-space-selectable-inset-horizontal-l: calc(var(--global-font-size-scaled-base, 1rem) * 0.875);
  --base-space-selectable-inset-horizontal-m: calc(var(--global-font-size-scaled-base, 1rem) * 0.75);
  --base-space-selectable-inset-horizontal-none: calc(var(--global-font-size-scaled-base, 1rem) * 0);
  --base-space-selectable-inset-horizontal-s: calc(var(--global-font-size-scaled-base, 1rem) * 0.625);
  --base-space-selectable-inset-horizontal-xl: calc(var(--global-font-size-scaled-base, 1rem) * 1);
  --base-space-selectable-inset-horizontal-xs: calc(var(--global-font-size-scaled-base, 1rem) * 0.5);
  --base-space-selectable-inset-vertical-2xl: calc(var(--global-font-size-scaled-base, 1rem) * 1.125);
  --base-space-selectable-inset-vertical-2xs: calc(var(--global-font-size-scaled-base, 1rem) * 0.375);
  --base-space-selectable-inset-vertical-3xl: calc(var(--global-font-size-scaled-base, 1rem) * 1.25);
  --base-space-selectable-inset-vertical-3xs: calc(var(--global-font-size-scaled-base, 1rem) * 0.25);
  --base-space-selectable-inset-vertical-4xl: calc(var(--global-font-size-scaled-base, 1rem) * 1.375);
  --base-space-selectable-inset-vertical-4xs: calc(var(--global-font-size-scaled-base, 1rem) * 0.125);
  --base-space-selectable-inset-vertical-5xl: calc(var(--global-font-size-scaled-base, 1rem) * 1.5);
  --base-space-selectable-inset-vertical-l: calc(var(--global-font-size-scaled-base, 1rem) * 0.875);
  --base-space-selectable-inset-vertical-m: calc(var(--global-font-size-scaled-base, 1rem) * 0.75);
  --base-space-selectable-inset-vertical-none: calc(var(--global-font-size-scaled-base, 1rem) * 0);
  --base-space-selectable-inset-vertical-s: calc(var(--global-font-size-scaled-base, 1rem) * 0.625);
  --base-space-selectable-inset-vertical-xl: calc(var(--global-font-size-scaled-base, 1rem) * 1);
  --base-space-selectable-inset-vertical-xs: calc(var(--global-font-size-scaled-base, 1rem) * 0.5);
  --base-space-selectable-stack-2xl: calc(var(--global-font-size-scaled-base, 1rem) * 1.125);
  --base-space-selectable-stack-2xs: calc(var(--global-font-size-scaled-base, 1rem) * 0.375);
  --base-space-selectable-stack-3xl: calc(var(--global-font-size-scaled-base, 1rem) * 1.25);
  --base-space-selectable-stack-3xs: calc(var(--global-font-size-scaled-base, 1rem) * 0.25);
  --base-space-selectable-stack-4xl: calc(var(--global-font-size-scaled-base, 1rem) * 1.375);
  --base-space-selectable-stack-4xs: calc(var(--global-font-size-scaled-base, 1rem) * 0.125);
  --base-space-selectable-stack-5xl: calc(var(--global-font-size-scaled-base, 1rem) * 1.5);
  --base-space-selectable-stack-l: calc(var(--global-font-size-scaled-base, 1rem) * 0.875);
  --base-space-selectable-stack-m: calc(var(--global-font-size-scaled-base, 1rem) * 0.75);
  --base-space-selectable-stack-none: calc(var(--global-font-size-scaled-base, 1rem) * 0);
  --base-space-selectable-stack-s: calc(var(--global-font-size-scaled-base, 1rem) * 0.625);
  --base-space-selectable-stack-xl: calc(var(--global-font-size-scaled-base, 1rem) * 1);
  --base-space-selectable-stack-xs: calc(var(--global-font-size-scaled-base, 1rem) * 0.5);
}
